git+https://github.com/pmeier/pystiche
importlib_metadata
sphinx >= 2
sphinx_rtd_theme
sphinx_autodoc_typehints >= 1.11
sphinxcontrib-bibtex
https://download.pytorch.org/whl/cpu/torch-1.7.1%2Bcpu-cp36-cp36m-linux_x86_64.whl
https://download.pytorch.org/whl/cpu/torchvision-0.8.1%2Bcpu-cp36-cp36m-linux_x86_64.whl
