name: docs

on:
  push:
    branches:
      - master
      - releases/*

  pull_request:
    paths:
      - "pystiche_papers/**"
      - "docs/source/**"
      - ".github/workflows/docs.yml"
      - "pyproject.toml"
      - "requirements-dev.txt"
      - "setup.cfg"
      - "tox.ini"
        
  schedule:
    - cron: "0 4 * * *"

jobs:
  html:
    runs-on: ubuntu-latest

    steps:
      - name: Set up python
        uses: actions/setup-python@v2
        with:
          python-version: "3.6"

      - name: Upgrade pip
        run: python -m pip install --upgrade pip

      - name: Upgrade and install additional system packages
        run: pip install --upgrade setuptools virtualenv wheel

      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install dev requirements
        run: pip install -r requirements-dev.txt

      - name: Create environment
        run: tox -e docs-html --notest

      - name: Build html documentation
        run: tox -e docs-html

      - name: Upload build
        uses: actions/upload-artifact@v2
        with:
          name: html
          path: docs/build/html

  latex:
    runs-on: ubuntu-latest
    steps:
      - name: Install latex requirements
        run: |
          sudo apt update -y
          sudo apt install -y latexmk texlive-latex-recommended texlive-latex-extra texlive-fonts-recommended

      - name: Set up python
        uses: actions/setup-python@v2
        with:
          python-version: "3.6"

      - name: Upgrade pip
        run: python -m pip install --upgrade pip

      - name: Upgrade and install additional system packages
        run: pip install --upgrade setuptools virtualenv wheel

      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install dev requirements
        run: pip install -r requirements-dev.txt

      - name: Create environment
        run: tox -e docs-latex --notest

      - name: Build latex documentation
        run: tox -e docs-latex

      - name: Upload build
        uses: actions/upload-artifact@v2
        with:
          name: latex
          path: docs/build/latex/pystiche-papers.pdf
