name: lint

on:
  push:
    branches:
      - master
      - releases/*

  pull_request:
    paths:
      - "**.py"
      - ".flake8"
#      - ".github/workflows/lint.yml"
      - "mypy.ini"
      - "pyproject.toml"
      - "requirements-dev.txt"
      - "setup.cfg"
#      - "tox.ini"
      - ".pre-commit-config.yaml"

  schedule:
    - cron: "0 4 * * *"

jobs:
  stlye:
    runs-on: ubuntu-latest

    steps:
      - name: Set up python
        uses: actions/setup-python@v2
        with:
          python-version: "3.6"

      - name: Upgrade pip
        run: python -m pip install --upgrade pip

      - name: Upgrade and install additional system packages
        run: pip install --upgrade setuptools virtualenv wheel

      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install dev requirements
        run: pip install -r requirements-dev.txt

      - name: Create environment
        run: tox -e lint-style --notest

      - name: Check code style
        run: tox -e lint-style

  typing:
    runs-on: ubuntu-latest

    steps:
      - name: Set up python
        uses: actions/setup-python@v2
        with:
          python-version: "3.6"

      - name: Upgrade pip
        run: python -m pip install --upgrade pip

      - name: Upgrade and install additional system packages
        run: pip install --upgrade setuptools virtualenv wheel

      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install dev requirements
        run: pip install -r requirements-dev.txt

      - name: Create environment
        run: tox -e lint-typing --notest

      - name: Check static typing
        run: tox -e lint-typing
