name: tests

on:
  push:
    branches:
      - master
      - releases/*

  pull_request:
    paths:
      - "pystiche_papers/**"
      - "tests/**"
      - "codecov.yml"
      - ".coveragerc"
      - ".github/workflows/tests.yml"
      - "pyproject.toml"
      - "pytest.ini"
      - "requirements-dev.txt"
      - "setup.cfg"
      - "tox.ini"

jobs:
  unit:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python: [3.6, 3.7, 3.8]
      fail-fast: true

    runs-on: ${{ matrix.os }}
    env:
      OS: ${{ matrix.os }}
      PYTHON: ${{ matrix.python }}

    steps:
      - name: Set up python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}

      - name: Upgrade pip
        run: python -m pip install --upgrade pip

      - name: Upgrade and install additional system packages
        run: pip install --upgrade setuptools virtualenv wheel

      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install dev requirements
        run: pip install -r requirements-dev.txt
        
      - name: Create environment
        run: tox --notest

      - name: Run tests
        run: tox -- --skip-large-download

      - name: Upload coverage
        uses: codecov/codecov-action@v1.0.7
        with:
          env_vars: OS,PYTHON
