name: tests

on:
  push:
    branches:
      - master
      - sanakoyeu-2018
      - releases/*

  pull_request:
    paths:
      - "pystiche_papers/**"
      - "tests/**"
      - "codecov.yml"
      - ".coveragerc"
      - ".github/workflows/tests.yml"
      - "pyproject.toml"
      - "pytest.ini"
      - "requirements-dev.txt"
      - "setup.cfg"
      - "tox.ini"

  schedule:
    - cron: "0 4 * * *"

jobs:
  unit:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python: [3.6, 3.7, 3.8]
      fail-fast: true

    runs-on: ${{ matrix.os }}
    env:
      OS: ${{ matrix.os }}
      PYTHON: ${{ matrix.python }}

    steps:
      - name: Set up python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}

      - name: Upgrade pip
        run: python -m pip install --upgrade pip

      - name: Upgrade and install additional system packages
        run: pip install --upgrade setuptools virtualenv wheel

      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install dev requirements
        run: pip install -r requirements-dev.txt
        
      - name: Create environment
        run: tox -e tests-unit --notest

      - name: Run tests
        run: tox -e tests-unit -- tests/unit --skip-large-download

      - name: Upload coverage
        uses: codecov/codecov-action@v1.0.13
        with:
          env_vars: OS,PYTHON

  hub:
    runs-on: ubuntu-latest

    steps:
      - name: Set up python
        uses: actions/setup-python@v2
        with:
          python-version: 3.6

      - name: Upgrade pip
        run: python -m pip install --upgrade pip

      - name: Upgrade and install additional system packages
        run: pip install --upgrade setuptools virtualenv wheel

      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install dev requirements
        run: pip install -r requirements-dev.txt

      - name: Create environment
        run: tox -e tests-hub --notest

      - name: Load torch.hub checkpoints from cache
        uses: actions/cache@v2
        with:
          path: ~/.cache/torch/hub/checkpoints
          key: torch-hub-checkpoints-${{ hashFiles('hubconf.py') }}

      - name: Run tests
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: tox -e tests-hub

  replication:
    runs-on: ubuntu-latest

    steps:
      - name: Set up python
        uses: actions/setup-python@v2
        with:
          python-version: 3.6

      - name: Upgrade pip
        run: python -m pip install --upgrade pip

      - name: Upgrade and install additional system packages
        run: pip install --upgrade setuptools virtualenv wheel

      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install dev requirements
        run: pip install -r requirements-dev.txt

      - name: Create environment
        run: tox -e tests-replication --notest

      - name: Run tests
        run: tox -e tests-replication -- tests/replication --skip-large-download

  docs:
    runs-on: ubuntu-latest

    steps:
      - name: Set up python
        uses: actions/setup-python@v2
        with:
          python-version: 3.6

      - name: Upgrade pip
        run: python -m pip install --upgrade pip

      - name: Upgrade and install additional system packages
        run: pip install --upgrade setuptools virtualenv wheel

      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Install dev requirements
        run: pip install -r requirements-dev.txt

      - name: Create environment
        run: tox -e tests-docs --notest

      - name: Run tests
        run: tox -e tests-docs
